.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore folders
/.quarto/
_freeze/
_web/
create_county_population_control_totals_files/

#.. ignore data until we really know what we need
data/

# ignore file types
*.rds

